.carticon {
  margin-left: 250px;
  margin-top: 20px;
}

.carticon span {
  margin-bottom: 20px;
  font-weight: bold;
  background: blueviolet;
  color: white;

  padding: 5px;
  border-radius: 20px;
}

button {
  margin: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #fff;
  width: 150px;
  padding: 13px 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn {
  margin-top: 30px;
}
.green {
  background-color: rgb(6, 172, 0);
}
.red {
  background-color: rgb(221, 52, 66);
}
.red:disabled {
  background-color: rgb(193, 191, 191);
  cursor: not-allowed;
}

.carticon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
}
.cart {
  height: 500px;
  text-align: center;
  border: 2px solid blueviolet;
  color: blueviolet;
  width: 350px;
  margin-left: 500px;
  margin-top: 50px;
}

.cart img {
  margin-left: 20px;
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

h1 {
  margin-left: 450px;
  color: blueviolet;
}
